<div class="col-md-12">
		<h2>Dashboard</h2>
		<hr>
	</div>
	<div class="col-md-3">
		<div class="list-group">
		  <a href="/dashboard" class="list-group-item">Inicio</a>
		  <a href="/dashboard/pedidos" class="list-group-item">Pedidos</a>
        <a href="/dashboard/precadastro" class="list-group-item">Cadastro Restaurantes</a>		  
		</div>
	</div>
