<% content_for :title do %> Restaurantes | Comidelivery - Delivery Online | Faça seu pedido <% end %>
<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: "alert alert-success" %>
<% end -%>

<h1>Restaurantes</h1>

<div class="row">
	<div class="col-md-8">



		<p>Nenhum restaurante encontrado perto de você.</p>



	</div>

</div>
