<% content_for :title do %>Cadastro de Restaurante | Comidelivery.com <% end %>
<div class="row">
	<div class="col-md-6">
<div class="page-header">
	<h1><%= t ".title" %></h1>
</div>

<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: "alert alert-success" %>
<% end -%>

<%= render 'form' %>
	</div><!-- col -->
</div><!-- row -->