<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @usuario.nome %>, seja bem vindo ao Comidelivery!</h1>
    <p>
      Você se cadastrou com sucesso, seu login é <%= @usuario.email %>.<br>
    </p>
    <p>
      Para entrar no site, siga o endereço: <%= @url %>.
    </p>
    <p>Não responda este email, para contato, estamos à sua disposição no endereço contato@comidelivery.com</p>
  </body>
</html>