<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:#d93600;">Você está a poucos passos de cadastrar <%= @precadastro.nome %> no Comidelivery!</h1>
    <p>
      <strong>Obrigado por manifestar interesse em cadastrar seu restaurante.</strong>

      <br><br>

      <strong style="color:#d93600;">Comidelivery.com</strong> é o site onde seus consumidores podem fazer pedidos diretamente pela internet em seu restaurante.
    </p>

    <p>Siga os passos a seguir para cadastrá-lo.</p>

    <h3 style="color:#d93600;">Primeiro passo</h3>


   <p>Cadastre um usuário usando o formulário de cadastro de usuário: <a href="http://comidelivery.com/usuarios/new">comidelivery.com/usuarios/new</a></p>

   <h3 style="color:#d93600;">Segundo passo</h3>

   <p>Faça login com seu usuário: <a href="http://comidelivery.com/entrar"> comidelivery.com/entrar</a></p>

   <h3 style="color:#d93600;">Terceiro passo</h3>

   <p>Uma vez logado, cadastre seu restaurante no endereço: <a href="http://comidelivery.com/restaurantes/new">comidelivery.com/restaurantes/new</a></p>

   <h2 style="color:#d93600;">Pronto!</h2>


   <p>Seguindo os passos acima seu restaurante já estará cadastrado e você poderá administrá-lo no <strong> Painel Administrativo</strong>. Para isso, faça login com seu usuário e acesse comidelivery.com/painel.</p>

   <p><strong>Precisa de ajuda?</strong> Estamos à sua disposição pelo email contato@comidelivery.com</p>

   <p><strong>Boas vendas!</strong></p>


    <p>Não responda este email. Saiba como entrar em contato conosco em comidelivery.com/contato</p>

    <p>Até breve!</p>
  </body>
</html>
