<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2 style="color:#d93600;"><%= @usuario.nome %>, seja bem vindo(a) ao Comidelivery!</h2>
    <p>
      Você se cadastrou com sucesso. Seu login é: <%= @usuario.email %>.<br>
    </p>
    <p>
      Para entrar no site, siga o endereço: <a href="http://comidelivery.com/entrar">comidelivery.com/entrar</a>
    </p>

    <p>Não responda este email. Saiba como entrar em contato conosco em comidelivery.com/contato</p>

    

    <p>Até breve!</p>
  </body>
</html>
