<% content_for :title do %> Cadastre seu restaurante <% end %>

<div class="row">
	<div class="col-sm-12">


		<h2>Cadastro de restaurante</h2>
		<p>Cadastre aqui seu restaurante. Nós entraremos em contato com você. É totalmente sem custo algum.</p>

		<iframe src="https://docs.google.com/forms/d/19qpjNIjTQPXKIYvfavGt-ZcdnsSo2BOpxNXDoUquPRg/viewform?embedded=true" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

	</div>
</div>
