<% content_for :title do %> Cadastre seu restaurante <% end %>


<div class="cadastro-restaurante-background"><!-- --></div>

<div class="row cadastro-restaurante-page">




   <div class="col-sm-12 col-md-4 col-md-push-4 intro">
      <h1>Cadastro de Restaurante</h1>


		<h3>Comece a atender seus clientes pela internet.</h3>
      <p>Comidelivery.com conecta seu restaurante com milhares de consumidores online.</p>
		<p>Cadastre aqui seu restaurante. Nós entraremos em contato com você.</p>

      <%= render 'form_pre_cadastro' %>

	</div>

</div>
