<% content_for :title do %>Sucesso<% end %>



<div class="cadastro-restaurante-background"><!-- --></div>
<div class="row cadastro-restaurante-page">
	<div class="col-sm-12 col-md-6">



		<h2>Obrigado!</h2>
		<p>Enviamos instruções para cadastar seu restaurante para o endereço de email informado.</p>
		<p>Se você não receber nosso email em alguns instantes, confira sua caixa de spam.</p>

	</div>

</div>
