<div class="col-md-2 painel-menu"> <!-- Menu do Painel-->
		<div class="list-group">


		<a class="list-group-item" href="/painel/pedidos">Pedidos<span class="badge"><%= @qtde_pedidos_abertos %></span></a></li>

		 <a class="list-group-item" href="/painel/produtos">Produtos</a>
		 <!--<a class="list-group-item" href="/painel/pizzas">Pizzas</a>-->
		 <a class="list-group-item" href="/painel/restaurante">Editar Restaurante</a>
		</div>
</div><!-- /menu -->
