<%= render 'head' %>
<h2>Editar sabor de pizza</h2>
<p>Você pode editar a descrição e respectivos preços para os diversos tamanhos disponíveis.</p>

<%= render 'update_sabor_form' %>

<%= render 'footer' %>