<%= render 'head' %>
<h2>Novo sabor de pizza</h2>
<p>Crie um novo sabor com descrição e respectivos preços para os diversos tamanhos disponíveis.</p>

<%= render 'sabor_form' %>

<%= render 'footer' %>