<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="L23QdHK9eUTba1j_uomBToZFOBSFfesoQxip2Y6Noes" />
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>